.image-gallery {
  width: 100%;
  height: auto;
}

.image-gallery-slide img {
  width: 100%;
  height: 600px;
  object-fit: cover;
  overflow: hidden;
  object-position: center center;
}
.image-gallery-thumbnail img {
  width: 100%;
  height: 70px;
  object-fit: cover;
  overflow: hidden;
  object-position: center center;
}
.fullscreen .image-gallery-slide img {
  height: 300px;
  width: 100%;

  object-fit: cover;
  overflow: hidden;
  object-position: center center;
}
video {
  width: 90%;
  max-width: 800px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
